annotated-types==0.7.0
anyio==4.9.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
debugpy
decorator
exceptiongroup
executing
fastapi==0.115.14
filelock==3.18.0
fsspec==2025.5.1
h11==0.16.0
hf-xet==1.1.5
huggingface-hub==0.33.1
idna==3.10
ipykernel
ipython
jedi
Jinja2==3.1.6
jupyter-client
jupyter-core
MarkupSafe==3.0.2
matplotlib-inline
mpmath==1.3.0
nest-asyncio
networkx==3.4.2
numpy==2.2.6
packaging
parso
pexpect
pillow==11.2.1
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pydantic==2.11.7
pydantic_core==2.33.2
Pygments
pyngrok==7.2.11
python-dateutil
python-multipart==0.0.20
PyYAML==6.0.2
pyzmq
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
six
sniffio==1.3.1
stack-data
starlette==0.46.2
sympy==1.14.0
tokenizers==0.21.2
torch==2.2.2
tornado
tqdm==4.67.1
traitlets
transformers==4.53.0
typing-inspection==0.4.1
typing_extensions
urllib3==2.5.0
uvicorn==0.34.3
wcwidth
